<!DOCTYPE html>
<html>
  <head>
    <title>Resume parser</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/reset.css' />
      <link rel='stylesheet' href='/stylesheets/parser_style_v1.css' />
  </head>
  <body>
    <div class="drop-box border">
        <span class="text">drop file(s) here....</span>
    </div>
  <script src="/javascripts/dragger.js"></script>
  </body>
</html>
